---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: kclruns.krm.kcl.dev.fluxcd
spec:
  group: krm.kcl.dev.fluxcd
  names:
    kind: KCLRun
    listKind: KCLRunList
    plural: kclruns
    singular: kclrun
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: KCLRun is the Schema for the kclruns API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: KCLRunSpec defines the desired state of KCLRun
            properties:
              sourceRef:
                description: CrossNamespaceSourceReference contains enough information
                  to let you locate the typed Kubernetes resource object at cluster
                  level.
                properties:
                  apiVersion:
                    description: API version of the referent.
                    type: string
                  kind:
                    description: Kind of the referent.
                    enum:
                    - OCIRepository
                    - GitRepository
                    - Bucket
                    type: string
                  name:
                    description: Name of the referent.
                    type: string
                  namespace:
                    description: Namespace of the referent, defaults to the namespace
                      of the Kubernetes resource object that contains the reference.
                    type: string
                required:
                - kind
                - name
                type: object
            required:
            - sourceRef
            type: object
          status:
            description: KCLRunStatus defines the observed state of KCLRun
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
